#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml
# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
# Ignore Play! working directory #
db
eclipse
lib
log
logs
project/project
project/target
target
tmp
.history
.settings
dist
/nbproject/private/
