@(id: Long, schemeForm: Form[ShortScheme])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(Messages("edit.scheme.title")) {

    <h1>@Messages("edit.scheme.title")</h1>

    @form(routes.Application.updateScheme(id)) {

        <fieldset>

            @inputText(schemeForm("name"), '_label -> Messages("scheme.name.label"))
            @inputText(schemeForm("description"), '_label -> Messages("scheme.description.label"))
            @inputText(schemeForm("targetPattern"), '_label -> Messages("scheme.target_pattern.label"))
            @inputText(schemeForm("shortcutPrefix"), '_label -> Messages("scheme.shortcut_prefix.label"))
            @inputText(schemeForm("replacement"), '_label -> Messages("scheme.replacement.label"))
            @inputText(schemeForm("tagAlphabet"), 'size -> 80, '_label -> Messages("scheme.tag_alphabet.label"))
            @inputText(schemeForm("tagLength"), '_label -> Messages("scheme.tag_length.label"))

        </fieldset>

        <div class="actions">
            <input type="submit" value="Update" class="btn btn-primary">
            <a href="@routes.Application.schemeList()" class="btn btn-warning"><i class="icon-ban-circle"></i> Cancel</a>
        </div>

    }


}
